.active {
	border-bottom: 1px solid black;
	padding-left: 0.5rem;
	padding-right: 0.75rem;
}

.active::before {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: green;
	position: absolute;
	top: 9px;
	right: 0px;
}
