.active {
	text-decoration: underline;
	text-underline-offset: 4px;
}

.active::before {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: green;
	position: absolute;
	top: 9px;
	right: -4px;
}
